[DNSZONE]
forwardzone = bigfoot.eurecom.fr
reversezone = 10.10.in-addr.arpa

[AMQP]
amqphost = 192.168.46.1
amqpport = 5672
amqpuser = guest
amqppass = rabbitpass

[MYSQL]
mysqlhost = 127.0.0.1
mysqluser = pdns
mysqlpass = mysqlpass
mysqldatabase = pdns

[LOG]
logfile = /tmp/dns.log

